img {
    width: 300px;
    height: 300px;
    background-color: red;
    padding: 3%;
    margin-left: 20%;
}

.lorem {
    color: blue;
    font-size: 2vw;
}

@media only screen and (min-width: 800px) {
    img {
        width: 400px;
        height: 400px;
        background-color: blue;
    }
}
@media (min-width: 480px) and (max-width: 800px) {
    img {
        width: 200px;
        height: 200px;
        background-color: yellow;
        margin-left: 40%;
        padding: 4%;
    }
    .lorem {
        color: yellow;
    }
}
@media (max-width: 480px) {
    img {
        width: 100px;
        height: 100px;
        background-color: green;
        margin-left: 60%;
        padding: 5%;
    }
    .lorem {
        color: green;
    }
}